<h1>配送先登録／一覧</h1>

<%= form_with model:@address, url: ships_path, local:true do |f| %>
    <p>
      <%= f.label :郵便番号 %>
    　<%= f.text_field :postal_code, id:"postal_code" %>
    </p>
    <p>
      <%= f.label :住所 %>
    　<%= f.text_area :address, id:"address" %>
    </p>
    <p>
      <%= f.label :宛名 %>
    　<%= f.text_field :name, id:"name" %>
    </p>

    <p><%= f.submit "新規登録" %></p>

<% end %>

<table>
<thead>
 <tr>
  <th>郵便番号</th>
  <th>住所</th>
  <th>宛名</th>
  <th>○○</th>
 </tr>
</thead>

<% @ships.each do |address| %>
<tr>
  <td><%= address.postal_code %></td>
  <td><%= address.address %></td>
  <td><%= address.name %></td>
  <td><%= link_to "編集する", edit_ship_path(address) %></td>
  <td><%= link_to "削除する", ship_path(address), method: :delete %>
</tr>
<% end %>
