<h2>新規会員登録</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "public/shared/error_messages", resource: resource %>

  <div class="field">
    名前
    (性)<%= f.label :last_name %>
    　　<%= f.text_field :last_name, placeholder:"令和", autofocus: true %>
    (名)<%= f.label :first_name %>
    　　<%= f.text_field :first_name, placeholder:"正男" %>
  </div>
  <div class="field">
    フリガナ
    (セイ)<%= f.label :last_name_kana %>
    　　<%= f.text_field :last_name_kana, placeholder:"レイワ" %>
    (メイ)<%= f.label :first_name_kana %>
    　　<%= f.text_field :first_name_kana, placeholder:"マサオ" %>
  </div>

  <div class="field">
    メールアドレス
    <%= f.label :email %>
    <%= f.email_field :email, placeholder:"sample@gmail.com", autocomplete: "email" %>
  </div>

  <div class="field">
    郵便番号(ハイフンなし）
    <%= f.label :postal_code %>
    <%= f.text_field :postal_code, placeholder:"0000000" %>
  </div>

  <div class="field">
    住所
    <%= f.label :address %>
    <%= f.text_field :address, :size=>"100", placeholder:"東京都千代田区千代田1-1" %>
  </div>

  <div class="field">
    電話番号(ハイフンなし）
    <%= f.label :telephone_number %>
    <%= f.text_field :telephone_number, placeholder:"0000000" %>
  </div>

  <div class="field">
    パスワード（6文字以上）
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    パスワード（確認用）
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "新規登録" %>
  </div>
<% end %>


<h2>既に登録済みの方</h2>
  <p><%= link_to "こちら", new_customer_session_path %>からログインしてください。</p>

